.filter {
  &__form {
    display: flex;
    column-gap: 10px;
    justify-content: space-between
  }

  &__buttons{
    padding-top: 20px;
    justify-content: flex-end;
    display: flex;
    column-gap: 10px;
  }
}
