.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;

  .app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    min-height: 200px;
    width: 100%;
  }

  .list {
    width: 60%;
  }

}
