.details {
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    " image image name        id          "
    " image image hp          evolvesFrom "
    " image image types       subtypes    "
    " image image supertype   .           "
    " image image button-back button-save ";

    .mat-mdc-form-field {
      display: block;
    }

    &_image {
      max-width: 100%;
      grid-area: image;
    }

    &_button {
      text-align: right;

      &-back {
        grid-area: button-back;
      }

      &-save {
        grid-area: button-save;
      }
    }

    #nameField {
      grid-area: name;
    }

    #idField {
      grid-area: id;
    }

    #hpField {
      grid-area: hp;
    }

    #evolvesFromField {
      grid-area: evolvesFrom;
    }

    &_typesField {
      grid-area: types;
    }

    &_subtypesField {
      grid-area: subtypes;
    }

    &_supertypeField {
      grid-area: supertype;
    }
  }

  &__spinner {
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
}
